// LINKS PAGE ////////////

#bg-links {
  color: #fff;
  background-color: #999FBF;
  padding: 40px;
  border-radius: 15px;
  min-width: 350px;
}

#bg-links p a {
  color: #31406B;
  text-decoration: underline;
}

#bg-links p a:hover {
  color: #504A66;
}

