// THANKYOU PAGE ////////////


body #main-section-thanks {
    padding-top: 150px;
    }

#results-button {
    color: white;
    background-color: #31406B;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

#results-button:hover {
    border: 1px solid #999FBF;
}


