
// VOTING PAGE /////////////////////////////////////////////////////

#bg-vote {
  background-color: #999FBF;
  border-radius: 15px;
  padding: 15px;
}

#centered-container {
  margin: auto;
}

#voting {
  background-color: #999FBF;
  min-width: 350px;
  border-radius: 15px;
}

.question {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#sortable li {
  margin: auto;
  text-align: center;
  list-style: none;
}

ul {
  padding: 0%;
  padding-bottom: 10px;
}

ul li .voting-option {
  color: white;
  background-color: #504A66;
  border: 1px solid #504A66;
  display: block;
  margin: auto;
  margin-top: 1.5em;
  width: 200px;
  word-wrap: break-word;
}

#sortable li .voting-description {
  color: #7e7e7e;
  background-color: white;
  border: 1px solid #504A66;
  word-wrap: break-word;
  display: block;
  margin: auto;
  width: 200px;
}





